[Unit]
Description=Live Syncing (Mirror) Daemon
After=network-online.target

[Service]
Type=simple
User=frappe
Group=frappe
ExecStart=/usr/bin/lsyncd -nodaemon /home/frappe/lsyncd/lsyncd.conf.lua

[Install]
WantedBy=multi-user.target 