{% extends "templates/marketplace/base.html" %}
{%- from "templates/marketplace/macros.html" import button, link, breadcrumbs -%}

{%- block body -%}
<div>
	<div>
		<div class="mt-3">
			{{ breadcrumbs([
			{ 'label': 'Apps', 'url': '/marketplace' },
			{ 'label': category.name, 'url': '' },
			{ 'label': app.title, 'url': '' }
			]) }}
		</div>

		<div class="flex pb-8 pt-4 space-x-4 sm:space-x-8 sm:py-14">
			<div class="flex-shrink-0">
				{%- if app.image -%}
				<img class="object-cover w-24 h-24 border border-gray-200 rounded-lg sm:w-32 sm:h-32"
					src="{{ app.image }}" alt="{{ app.title }}">
				{%- else -%}
				<div class="flex items-center justify-center w-24 h-24 text-gray-500 bg-gray-100 border border-gray-200 rounded-lg sm:w-32 sm:h-32"
					style="font-size: 4rem;">
					{{ app.title[0].upper() }}
				</div>
				{%- endif -%}
			</div>
			<div class="w-full">
				<div class="flex flex-row justify-between items-center">
					<h1 class="text-4xl font-semibold text-gray-900 sm:text-6xl"> {{ app.title }} </h1>
					<div>
						{{ button('Install Now', '/dashboard/sites/new', 'primary') }}
					</div>
				</div>
				<p class="text-base text-gray-700">{{ app.description }}</p>
			</div>
		</div>

		<div class="flex flex-col space-x-4 sm:space-x-8 sm:flex-row">
			<div class="grid grid-cols-2 pl-0 gap-x-4 gap-y-8 sm:space-y-8 sm:block">
				<div>
					<h5 class="text-base text-gray-900 font-semibold">Category</h5>
					<div>
						<span
							class="inline-block px-3 py-1 mb-1 text-xs font-medium rounded-md cursor-default text-blue-500 bg-blue-100">
							<!-- Hard-coded for now -->
							Free
						</span>
						<span
							class="inline-block px-3 py-1 text-xs font-medium rounded-md cursor-default text-blue-500 bg-blue-100">
							{{ app.category }}
						</span>
					</div>
				</div>
				<div>
					<h5 class="text-base text-gray-900 font-semibold">Website</h5>
					<ul class="mt-2 space-y-1 text-base">
						<li class="">{{ link(app.website, app.website) }}</li>
					</ul>
				</div>
				<div>
					<h5 class="text-base text-gray-900 font-semibold">Supported Versions</h5>
					<ul class="mt-2 space-y-1 text-base">
						{%- for group in groups -%}
						<li class="">
							{{ link(group.version, group.frappe.repository_url + '/tree/' + group.frappe.branch,
							blank=True) }}
						</li>
						{%- endfor -%}
					</ul>
				</div>
				<div>
					<h5 class="text-base text-gray-900 font-semibold">Learn more & Support</h5>
					<!-- <ul class="mt-2 space-y-1 text-base">
						{%- for label, value in ({
						'Support': app.support,
						'Documentation': app.documentation,
						'Privacy Policy': app.privacy_policy,
						'Terms of Service': app.terms_of_service
						}).items() -%}
						{%- if value -%}
						<li class="">{{ link(label, value) }}</li>
						{%- endif -%}
						{%- endfor -%}
					</ul> -->
					<ul class="mt-2 flex flex-col space-y-3">
						<li>
							<a class="flex flex-row space-x-1 text-gray-600 hover:text-gray-800" href="#">
								<i class="w-4 h-4" data-feather="external-link"></i>
								<span class="text-base">Visit Website</span>
							</a>
						</li>
						<li>
							<a class="flex flex-row space-x-1 text-gray-600 hover:text-gray-800" href="#">
								<i class="w-4 h-4" data-feather="life-buoy"></i>
								<span class="text-base">Support</span>
							</a>
						</li>
						<li>
							<a class="flex flex-row space-x-1 text-gray-600 hover:text-gray-800" href="#">
								<i class="w-4 h-4" data-feather="file-text"></i>
								<span class="text-base">Documentation</span>
							</a>
						</li>
						<li>
							<a class="flex flex-row space-x-1 text-gray-600 hover:text-gray-800" href="#">
								<i class="w-4 h-4" data-feather="lock"></i>
								<span class="text-base">Privacy Policy</span>
							</a>
						</li>
						<li>
							<a class="flex flex-row space-x-1 text-gray-600 hover:text-gray-800" href="#">
								<i class="w-4 h-4" data-feather="shield"></i>
								<span class="text-base">Terms of Service</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="w-full pl-8 pb-8 prose-sm prose text-gray-900 sm:w-3/5">
				{{ frappe.utils.md_to_html(app.long_description) }}
			</div>

		</div>
	</div>
</div>
{%- endblock -%}