{% extends "templates/marketplace/base.html" %}
{%- from "templates/marketplace/macros.html" import button, link, breadcrumbs, badge_blue, badge_green -%}

{%- block body -%}
<div>
	<div class="px-4 sm:px-8">
		<div class="mt-5">
			{{ breadcrumbs([
			{ 'label': 'Apps', 'url': '/marketplace' },
			{ 'label': app.title, 'url': '' }
			]) }}
		</div>

		<div class="flex flex-col pt-4 pb-8 md:flex-row md:space-x-10">
			{{ sidebar() }}
			{{ main() }}
		</div>
	</div>
</div>
{%- endblock -%}

{% macro sidebar() %}
<div class="order-1 w-full md:order-none md:w-2/12 space-y-9">
	{{ app_image(app, 'hidden md:block') }}

	{%- if publisher_profile -%}
	<div>
		<h5 class="text-xl font-semibold text-gray-900">Publisher</h5>
		<a class="text-base text-blue-500 hover:text-blue-700"
			href="{{ 'mailto:{}'.format(publisher_profile.contact_email) if  publisher_profile.contact_email else '#'}}">
			{{ publisher_profile.display_name }}
		</a>
	</div>
	{%- endif -%}

	<div>
		<h5 class="text-xl font-semibold text-gray-900">Categories</h5>
		<div class="mt-2">
			<!-- Hard-coded for now -->
			{%- if app.subscription_type == 'Freemium'-%}
				{{ badge_green('Freemium') }}
			{%- elif app.subscription_type == 'Paid'-%}
				{{ badge_green('Paid') }}
			{%- else -%}
				{{ badge_blue('Free') }}
			{%- endif -%}

			{%- for category in app.categories -%}
			<div class="inline-flex flex-row mt-2 mr-2">
					{{ badge_blue(category.category) }}
			</div>
			{%- endfor -%}
			
		</div>
	</div>

	<div>
		<h5 class="text-xl font-semibold text-gray-900">Learn more & Support</h5>
		<ul class="flex flex-col mt-2 space-y-3">
			{%- for label, icon, href in [
			('Visit Website', 'external-link', app.website),
			('Support', 'life-buoy', app.support),
			('Documentaion', 'file-text', app.documentation),
			('Privacy Policy', 'lock', app.privacy_policy),
			('Terms of Service', 'shield', app.terms_of_service)
			] -%}
			{%- if href -%}
			<li>
				<a class="flex flex-row space-x-1 text-gray-600 hover:text-gray-800" href="{{ href }}">
					<i class="w-4 h-4" data-feather="{{ icon }}"></i>
					<span class="text-base">{{ label }}</span>
				</a>
			</li>
			{%- endif -%}
			{%- endfor -%}
		</ul>
	</div>

	<div>
		<h5 class="text-xl font-semibold text-gray-900">Supported Versions</h5>
		<ul class="mt-2 space-y-1 text-base text-gray-600">
			{%- for supported_version in supported_versions -%}
			<li>
				{%- if supported_version.app_source.public -%}
				{{ link(supported_version.version, supported_version.app_source.repository_url + '/tree/' +
				supported_version.app_source.branch, blank=True) }}
				{%- else -%}
				{{ link(supported_version.version, supported_version.frappe_source.repository_url + '/tree/' +
				supported_version.frappe_source.branch, blank=True) }}
				{%- endif -%}
			</li>
			{%- endfor -%}
		</ul>
	</div>
</div>
{% endmacro %}


{% macro main() %}
<div class="w-full border-b md:w-10/12 md:border-b-0">
	<div class="flex flex-row items-center">
		<div class="mr-2 md:hidden">
			{{ app_image(app) }}
		</div>
		<h1 class="mb-2 text-4xl font-semibold text-gray-900 md:text-5xl"> {{ app.title }} </h1>
	</div>
	<p class="mt-2 text-base text-gray-700 md:mt-0">
		{{ app.description }}
	</p>
	<div class="mt-2 flex flex-row justify-items-center">
		{{ button('Install Now', '/dashboard/sites/new', 'primary') }}
		<div class="ml-2 mt-2 flex flex-row text-sm text-gray-600 justify-items-end">
			<i class="w-4 h-4 mx-2" data-feather="download"></i>
			<span>{{ no_of_installs | number_k_format }} {{ 'install' if no_of_installs == 1 else 'installs' }}</span>
		</div>
	</div>
	{%- if app.screenshots -%}
	<div class="flex mt-6 space-x-4 overflow-y-auto">
		{%- for image in app.screenshots -%}
		<div class="flex-shrink-0 overflow-hidden border rounded-md h-60 w-80">
			<a href="{{ image.image }}">
				<img class="object-cover w-full h-full" src="{{ image.image }}" alt="{{ image.caption or '' }}" />
			</a>
		</div>
		{%- endfor -%}
	</div>
	{%- endif -%}
	<div class="w-full pb-8 mt-6 prose-sm prose text-gray-900">
		{{ frappe.utils.md_to_html(app.long_description) }}
	</div>
</div>
{% endmacro %}


{% macro app_image(app, class='') %}
<div class="w-12 h-12 md:w-24 md:h-24 lg:w-44 lg:h-44 {{ class }}">
	{%- if app.image -%}
	<img class="object-cover border border-gray-200 rounded-lg" src="{{ app.image }}" alt="{{ app.title }}">
	{%- else -%}
	<div class="flex items-center justify-center text-gray-500 bg-gray-100 border border-gray-200 rounded-lg">
		{{ app.title[0].upper() }}
	</div>
	{%- endif -%}
</div>
{% endmacro %}