{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}
<div class="p-8 bg-white text-base leading-6 text-gray-900">
	<div class="from-markdown">
		<h2>Alerte de sécurité</h2>
		<p>Bonjour !</p>
		<p>Cela fait un an que vous n'avez pas vérifié vos codes de récupération d'authentification à deux facteurs.</p>
		<p>Veuillez vérifier que vous avez toujours accès à ces codes. Ils sont essentiels pour la récupération de votre compte si vous perdez l'accès à votre appareil d'authentification.</p>
        {{ utils.button('Voir vos codes de récupération', link, true) }}
	</div>
</div>
{% endblock %}
