{% extends "templates/emails/base.html" %}

{% block content %}
<div class="p-8 bg-white text-base leading-6 text-gray-900">
	<div class="from-markdown">
		<h2>Alerte de sécurité</h2>
		<p>Bonjour !</p>
		<p>
			Vos codes de récupération d'authentification à deux facteurs ont été consultés le {{ viewed_at }}.
		</p>
		<p>
			Si vous n'avez pas consulté vos codes de récupération, veuillez sécuriser votre compte immédiatement :
		</p>
		<ul>
			<li>Changez votre mot de passe</li>
			<li>Générez de nouveaux codes de récupération</li>
			<li>Vérifiez toute activité récente sur votre compte</li>
		</ul>
		<p>Vous pouvez accéder à vos paramètres de sécurité ici :</p>
		<p><a href="{{ link }}">Paramètres de sécurité</a></p>
		<p>Si vous reconnaissez cette activité, vous pouvez ignorer cet e-mail.</p>
	</div>
</div>
{% endblock %}
