{% import "templates/emails/macros.html" as utils %}

{% extends "templates/emails/base.html" %}
{% block content %}
<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><span class='font-medium'>Frappe has requested access to your resources.</p>
        <p><span class='font-medium'>Reason:</span> {{ reason }}</p>
        <div class='mb-4 space-y-2'>
            <div class='font-semibold'>Resources:</div>
            {% for resource in resources %}
            <div>
                <span class="font-medium">{{ resource.document_type }}:</span>
                <span>{{ resource.document_name }}</span>
            </div>
            {% endfor %}
        </div>
        {{ utils.button('View Access Requests', 'dashboard/access-requests') }}
        {{ utils.separator() }}
        <p class="my-0">Team Frappe</p>
    </div>
</td>
{% endblock %}
