{% extends "templates/emails/base.html" %} {% block content %}
<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<div class="from-markdown">
			Bonjour,
			<p>
				<strong>{{user}}</strong> vient de
				se connecter à votre site <strong>{{site}}</strong> en tant qu'administrateur.
				La raison indiquée est la suivante :
			</p>
				<blockquote>{{reason}}</blockquote>
			<p>
				Il peut s'agir de l'un de nos développeurs enquêtant sur un problème en votre nom. Veuillez créer un ticket sur
				<a href="https://frappecloud.com/support" target="_blank">frappecloud.com/support</a> si cette activité ne
				vous est pas connue.
			</p>
		</div>
	</div>
</td>
{% endblock %}
