{% extends "templates/emails/base.html" %} {% block content %}
<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<div class="from-markdown">
			Hey there,
			<p>
				<strong>{{user}}</strong> just
				logged in to your site <strong>{{site}}</strong> as administrator.
				They've stated the reason as follows:
			</p>
				<blockquote>{{reason}}</blockquote>
			<p>
				It might be one of our developers investigating an issue on your behalf. Please raise a ticket on
				<a href="https://frappecloud.com/support" target="_blank">frappecloud.com/support</a> if this activity is
				not to your knowledge.
			</p>
		</div>
	</div>
</td>
{% endblock %}
