{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white">
        <p class="mb-4 font-bold">
            {%- if subject -%}
            {{ subject }}
            {%- endif -%}
        </p>

        <p>
            {%- if status == 'Rejected' -%}
            Malheureusement, votre demande d'approbation pour la version <a class="text-blue-500" href="{{ releases_link }}">'{{
                commit_message
                }}'</a> de l'application
            a été rejetée.
            La raison du rejet :
            {{ rejection_reason }}
            {%- endif -%}

            {%- if status == 'Approved' -%}
            Félicitations ! Votre demande d'approbation pour la version <a class="text-blue-500" href="{{ releases_link }}">'{{ commit_message
                }}'</a>
            de l'application a
            été acceptée et cette version sera
            publiée sur la Marketplace.
            {%- endif -%}
        </p>

        {%- if status == 'Approved' -%}
        <p class="text-base mt-5">
            Note : Une fois approuvée, le déploiement d'une version sur la Marketplace peut prendre jusqu'à une semaine.
        </p>
        {%- endif -%}
    </div>
</td>

{% endblock %}