{% extends "templates/emails/base.html" %}
{% import "templates/emails/macros.html" as utils %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Bonjour,</p>
        <p class="mb-4">
            {{ message }}
        </p>
        <p>
            Si vous avez des préoccupations ou des questions, n'hésitez pas à contacter notre équipe de support à
            {{ utils.link('support.frappe.io', 'https://support.frappe.io')}}
        </p>
        {{ utils.button('Voir la tâche de déploiement', link, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>


{% endblock %}