{% extends "templates/emails/base.html" %}
{% import "templates/emails/macros.html" as utils %}
{% block content %}
<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<div class="from-markdown">
			<p>Bonjour,</p>

			<p>
				Vos coûts Frappe Cloud pour l'équipe <strong>{{ team_user }}</strong> ont dépassé
				le seuil d'alerte budgétaire mensuel.
			</p>

			<h3 style="margin: 5px 0; font-weight: bold;">
				Détails de l'alerte budgétaire :
			</h3>
			<table class="table">
				<tr>
					<td>
						Seuil d'alerte mensuel :
					</td>
					<td>
						{{ alert_threshold }}
					</td>
				</tr>
				<tr>
					<td>
						Montant de la facture du mois en cours :
					</td>
					<td>
						{{ invoice_amount }}
					</td>
				</tr>
				<tr>
					<td>
						Montant dépassant le budget :
					</td>
					<td>
						{{ excess_amount }}
					</td>
				</tr>
				<tr>
					<td>
						Période de facturation :
					</td>
					<td>
						{{ frappe.format_date(period_start) }} au {{ frappe.format_date(period_end) }}
					</td>
				</tr>
			</table>

			<p style="margin: 20px 0">
				Pour gérer vos alertes budgétaires, veuillez consulter vos paramètres de facturation dans le tableau de bord Frappe Cloud.
			</p>

			{{ utils.separator() }}
		    {{ utils.signature() }}
		</div>
	</div>
</td>
{% endblock %}
