{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<p class="mb-4 font-bold">
			Confirmation de suppression du compte
		</p>
		<p class="mb-6">
			Vous avez demandé la suppression de votre compte et de votre équipe associée <b>({{ team }})</b>. Avec cela, toutes les données personnelles de vous et de vos membres d'équipe seront supprimées.
			En procédant, vous supprimerez les comptes des membres de votre équipe, s'ils ne font partie d'aucune autre équipe.
		</p>
		{{ utils.button('Supprimer l\'équipe', link, true) }}
		{{ utils.separator() }}
		{{ utils.signature() }}
	</div>
</td>

{% endblock %}
