{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<p class="mb-4 font-bold">
			Account Deletion Confirmation
		</p>
		<p class="mb-6">
			You have requested the deletion of your account and your linked team <b>({{ team }})</b>. With this, all of your and your team members' personal data will be deleted.
			By proceeding with this, you will delete the accounts of the members in your team, if they aren't a part of any other team.
		</p>
		{{ utils.button('Delete Team', link, true) }}
		{{ utils.separator() }}
		{{ utils.signature() }}
	</div>
</td>

{% endblock %}
