{% extends "templates/emails/base.html" %} {% block content %}
<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<div class="from-markdown">
			Bonjour,
			<p>
				Le mécanisme de surveillance et d'alerte a été désactivé pour votre site
				<strong>{{site}}</strong>.
                Raison de la désactivation de la surveillance :
			</p>
			<blockquote>{{reason}}</blockquote>
			<p>
				Veuillez réactiver la surveillance depuis le tableau de bord pour recevoir les alertes.<br>
                Consultez la documentation
				<a
					href="https://docs.frappe.io/cloud/sites/monitoring#monitoring-disabled"
					target="_blank"
					>ici</a
				> pour le guide. Si vous avez besoin d'assistance, veuillez créer un ticket sur
				<a href="https://frappecloud.com/support" target="_blank"
					>frappecloud.com/support</a
				>.
			</p>
		</div>
	</div>
</td>
{% endblock %}
