{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/base.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p class="mb-4 font-bold">
			Le serveur <strong>{{ server }}</strong> a utilisé plus de 90% du stockage
			disponible.
		</p>
		<p class="mb-6">
			Votre serveur a actuellement utilisé {{ current_disk_usage }} sur les
			{{ available_disk_space }} disponibles
			<br />
			Pour s'assurer que le serveur n'est pas surchargé, nous augmentons automatiquement le
			stockage de <strong>{{ increase_by }}</strong><br />
			<br />

			Pour désactiver l'expansion automatique du disque, veuillez consulter la
			<a href="https://docs.frappe.io/cloud/storage-addons" target="_blank"
				><b>documentation</b></a
			> suivante<br />

			<strong>Besoin d'aide ?</strong><br />
			Veuillez créer un ticket sur support.frappe.io pour vos questions.
		</p>

		{{ utils.separator() }} {{ utils.signature() }}
	</div>
</td>

{% endblock %}
