{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Hello,</p>
        <strong>
            Thanks for signing up for ERPNext!
        </strong>
        <p>
            Please confirm your email address by clicking the button below:
        </p>
        {{ utils.button('Verify Account', link, true) }}
        {{ utils.separator() }}
        <p class="m-0">
            Thanks,<br>
            Team ERPNext
        </p>
    </div>
</td>

{% endblock %}
