{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Bonjour,</p>
        <strong>
            Merci de vous être inscrit sur ERPNext !
        </strong>
        <p>
            Veuillez confirmer votre adresse e-mail en cliquant sur le bouton ci-dessous :
        </p>
        {{ utils.button('Vérifier le compte', link, true) }}
        {{ utils.separator() }}
        <p class="m-0">
            Merci,<br>
            L'équipe ERPNext
        </p>
    </div>
</td>

{% endblock %}
