{% extends "templates/emails/base.html" %} {% import
"templates/emails/macros.html" as utils %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p>Hi,</p>
		<p class="mb-4">{{ message }}</p>
		<p>
			For any concerns or questions, please reach out to our support team at {{
			utils.link('support.frappe.io', 'https://support.frappe.io')}}
		</p>
		{{ utils.button('View Server Analytics', link, true) }} {{ utils.separator()
		}} {{ utils.signature() }}
	</div>
</td>

{% endblock %}
