{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<p class="mb-4 font-bold">
			Solde insuffisant pour le prochain paiement Frappe Cloud
		</p>
		<p class="mb-6">
			Bonjour de la part de Frappe ! Nous avons remarqué que votre compte Frappe Cloud ne dispose pas de crédits suffisants pour payer la prochaine facture.
			Veuillez envisager d'ajouter des crédits à votre compte ou de mettre à jour le mode de paiement par carte et d'ajouter une carte avec un solde suffisant depuis les {{ utils.link('Paramètres de facturation', '/dashboard/billing') }} dans votre tableau de bord Frappe Cloud.
		</p>
		{{ utils.separator() }}
		{{ utils.signature() }}
	</div>
</td>

{% endblock %}
