{% extends "templates/emails/base.html" %}

{% set invited_by = invited_by %}
{% block content %}

<td class="text-gray-900 text-base leading-6">
    <div class="p-8 bg-white">
        <p>Hello,</p>
        <p class="font-bold mb-4">
            You have been invited to join {{ invited_by }} team on Frappe Cloud.
        </p>
        <p class="mb-6">
            Please confirm your email address by clicking the button below:
        </p>
        <table cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="bg-gray-900 rounded">
                        <a href="{{ link }}" rel="nofollow"
                            class="block font-semibold text-white text-base leading-full py-2 px-4 no-underline">
                            Verify Account
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="w-full" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="py-8">
                        <div class="bg-gray-300 h-px leading-px"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="m-0">
            Thanks,<br>
            The Frappe Team
        </p>
    </div>
</td>

{% endblock %}
