{% macro button(label, link, primary = true) %}
<table cellpadding="0" cellspacing="0" role="presentation">
	<tbody>
		<tr>
			<td class="rounded {{ 'bg-blue-500' if primary else 'bg-gray-200' }}">
				<a href="{{ link }}" rel="nofollow"
					class="btn {{ 'text-white bg-blue-500' if primary else 'text-gray-900 bg-gray-200' }} block px-4 py-2 text-base font-semibold no-underline leading-full">
					{{ label }}
				</a>
			</td>
		</tr>
	</tbody>
</table>
{% endmacro %}

{% macro link(label, link) %}
<a class="text-blue-500 border-b border-blue-500" href="{{ link }}">{{ label }}</a>
{% endmacro %}

{% macro separator() %}
<table class="w-full" cellpadding="0" cellspacing="0" role="presentation">
	<tbody>
		<tr>
			<td class="py-8">
				<div class="h-px bg-gray-300 leading-px"></div>
			</td>
		</tr>
	</tbody>
</table>
{% endmacro %}

{% macro signature() %}
<p class="m-0">
	Thanks,<br>
	Team Frappe
</p>
{% endmacro %}
