{% extends "templates/emails/base.html" %}

{% block content %}
  <td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white">
        Bonjour,
        <br/>
      Veuillez compléter les <a href="{{ review_page_link }}">étapes de vérification</a> suivantes pour votre application,
        <br/>
        <br/>
        <div class="from-markdown">
          {% if not logo %}
            * Ajouter un logo
            <br/>
          {% endif %}
          {% if not desc %}
            * Mettre à jour la description de votre application
            <br/>
          {% endif %}
          {% if not links %}
            * Ajouter les liens pertinents pour votre application
            <br/>
          {% endif %}
          {% if not release %}
            * Publier une version depuis l'onglet des versions
            <br/>
          {% endif %}
        </div>

        <br/>
        <p class="m-0">
            Merci,<br>
            L'équipe Frappe Cloud
        </p>
    </div>
  </td>


{% endblock %}

