{% extends "templates/emails/base.html" %}

{% block content %}
<div class="p-8 bg-white">
    <div class="from-markdown">
        <p>Bonjour {{ developer_name }},</p>

        <p>Nous espérons que vous vous portez bien.</p>

        <p>Nous vous écrivons pour vous informer d'une mise à jour importante de la politique concernant les applications de la Marketplace Frappe Cloud. Pour
            garantir une disponibilité continue sur la Marketplace, toutes les applications doivent désormais être entièrement open-source, ce qui signifie
            que le dépôt GitHub doit être rendu public.</p>

        <p>Pour vous conformer à cette nouvelle politique, veuillez rendre le dépôt de votre application public avant la fin du mois, soit le 31 mars 2025. Après cette
            période, les applications non conformes seront désactivées ou retirées de la Marketplace Frappe Cloud.</p>

        <p>Voici les détails de votre application :</p>

        <ul>
            <li><strong>Nom de l'application :</strong> {{ app_name }}</li>
            <li><strong>URL du dépôt :</strong> {{ repository_url }}</li>
        </ul>

        <p>Nous comprenons que ce changement peut nécessiter certains ajustements, et nous apprécions votre attention rapide à
            ce
            sujet. Si vous avez des questions ou anticipez des difficultés pour rendre votre dépôt public, veuillez
            créer un ticket de support sur support.frappe.io. Nous sommes là pour vous aider et assurer une transition en douceur.</p>

        <p>Merci pour votre compréhension et votre coopération.</p>

        <p>Cordialement,<br>
            L'équipe Frappe Cloud</p>
    </div>
</div>
{% endblock %}