{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<p>Bonjour,</p>
        <p>Nous vous informons que votre site suspendu <strong>{{site_name}}</strong> sera automatiquement archivé dans <strong>{{site_archive_notification_days}} jours</strong>. Une fois archivé, le site ne sera plus accessible.</p>
        <p>Une sauvegarde de votre site sera conservée pendant 6 mois au cas où vous souhaiteriez le restaurer.</p>
		{{ utils.separator() }}
		{{ utils.signature() }}
	</div>
</td>

{% endblock %}
