{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Bonjour,</p>
        <p>
            Cliquez sur le bouton suivant pour vous connecter à votre tableau de bord Frappe Cloud. Ce lien expirera dans {{ minutes }} minutes.
        </p>
        {{ utils.button('Connexion', link, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}
