{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Bonjour,</p>
        <p>Le partenaire {{ partner }} a soumis une demande pour associer votre certificat à son compte d'équipe Frappe Cloud.</p>
        <p>
           Confirmez votre consentement en cliquant sur le bouton suivant.
        </p>
        {{ utils.button('Approuver', link, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}
