{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Bonjour Responsable Partenaire,</p>
        <p>L'utilisateur {{ user }} a soumis une demande pour associer son équipe au Partenaire {{ partner }}.</p>
        <p>
           Confirmez votre consentement en cliquant sur le bouton suivant.
        </p>
        {{ utils.button('Accepter', link, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}

