{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<p class="mb-4 font-bold">
			{%- if subject -%}
			{{ subject }}
			{%- else -%}
			Le paiement de {{ amount }} pour Frappe Cloud a échoué.
			{%- endif -%}
		</p>
		{%- if card_not_added -%}
		<p class="mb-6">
			Vous n'avez pas ajouté de carte pour votre abonnement Frappe Cloud. Vos sites seront suspendus jusqu'à ce que vous
			mettiez à jour les détails de votre carte dans votre compte.
		</p>
		{{ utils.button('Mettre à jour les paramètres de facturation', account_update_link) }}
		{%- else -%}
		<p class="mb-6">
			Nous avons tenté de débiter votre carte se terminant par <strong>{{ last_4 }}</strong> pour votre abonnement Frappe Cloud,
			mais sans succès. Veuillez mettre à jour les détails de votre carte dans vos
			{{ utils.link('Paramètres de facturation', account_update_link) }}
			ou payer manuellement en cliquant sur le lien suivant.
		</p>
		{{ utils.button('Payer la facture maintenant', payment_link) }}
		{%- endif -%}

		{%- if sites -%}
		{{ utils.separator() }}
		<p class="mt-0 mb-2">Les sites suivants ont été suspendus :</p>
		<ul class="list-disc">
			{%- for site in sites -%}
			<li class="text-sm font-medium">{{ site }}</li>
			{%- endfor -%}
		</ul>
		{%- endif -%}

		{{ utils.separator() }}
		{{ utils.signature() }}
	</div>
</td>

{% endblock %}
