{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Bonjour,</p>
        <p>
            Nous avons remarqué des incidents fréquents avec votre plan actuel et recommandons de mettre à jour votre
            <strong>{{ upgrade_target }}</strong> vers un plan plus adapté pour mieux répondre à vos besoins.
        </p>
        <p>
            Voici les détails du plan recommandé :
        </p>
        <ul>
            <li><strong>Type d'instance :</strong> {{ instance_type }}</li>
            <li><strong>vCPU :</strong> {{ vcpu }}</li>
            <li><strong>Mémoire :</strong> {{ memory }} Go</li>
        </ul>
        <p>
            Passer à ce plan peut aider à réduire les incidents et améliorer votre expérience globale. Si vous avez des questions ou avez besoin d'assistance supplémentaire, n'hésitez pas à contacter notre équipe de support.
        </p>
        <p>
            <a href="https://cloud.frappe.io/dashboard/servers/{{ server_name }}/overview" class="text-blue-600 underline">Cliquez ici pour mettre à jour votre plan</a>
        </p>
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}

