{% extends "templates/emails/base.html" %}
{% import "templates/emails/macros.html" as utils %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Bonjour,</p>
        <strong>
            Tentative de connexion à votre compte Frappe Cloud depuis le site : {{ site }}
        </strong>
        <p>
            Veuillez confirmer votre adresse e-mail en cliquant sur le bouton ci-dessous :
        </p>
        {{ utils.button('Vérifier le compte', login_url, true) }}
        <p class="text-xs italic">
            Note : Ce lien ne peut être utilisé qu'une seule fois avant expiration. S'il a expiré, veuillez générer un nouveau lien
        </p>
        {{ utils.separator() }}
        <p class="m-0">
            Merci,<br>
            L'équipe Frappe
        </p>
    </div>
</td>

{% endblock %}
