{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set title = title %}
{% set image_path = image_path %}
{% set read_pixel_path = read_pixel_path %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Veuillez cliquer sur le bouton ci-dessous pour réinitialiser votre mot de passe. Si ce n'était pas vous, veuillez ignorer cet e-mail.</p>
        {{ utils.button('Réinitialiser le mot de passe', link, true) }}
        {{ utils.separator() }}
        <p class="my-0">L'équipe Frappe</p>
    </div>
    {% if read_pixel_path %}
    <img src="{{ read_pixel_path }}">
    {% endif %}
</td>

{% endblock %}
