{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set title = title %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><strong>Vous y êtes presque !</strong></p>
        <p>Plus qu'une dernière étape rapide pour commencer avec les produits Frappe !
        Veuillez confirmer votre adresse e-mail pour finaliser la configuration de votre compte.</p>
        {{ utils.button('Vérifier le compte', link, true) }}
        {{ utils.separator() }}
        <p class="my-0">L'équipe Frappe</p>
    </div>
    {% if read_pixel_path %}
    <img src="{{ read_pixel_path }}">
    {% endif %}
</td>

{% endblock %}
