{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p class="mb-4 font-bold">
            {{ subject }}
        </p>
        <p class="mb-6">
            Unfortunately, we must bring to your attention that your site hosted on Frappe Cloud has been temporarily <strong>suspended</strong> due to <strong>exceeding disk / database usage</strong> for consecutive 7 days.<br>
            <br>
            To continue using your Frappe Cloud site, please upgrade the plan of your site<br>
            <br>
            <strong>Once you upgrade to a new plan, your site will be activated immediately.</strong><br>
            <br>
            If there is no action taken, your site will be archived after 3 weeks.
        </p>

        {{ utils.separator() }}
		{{ utils.signature() }}
    </div>
</td>

{% endblock %}
