{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p class="mb-4 font-bold">
            Le site <strong>{{ site }}</strong> a dépassé la limite du plan
        </p>
        <p class="mb-6">
            Votre site a dépassé <br>

            {% if current_disk_usage > 100 %}
            - la limite d'utilisation du disque de <strong>{{ current_disk_usage - 100 }}%</strong><br>
            {% endif %}
            {% if current_database_usage > 100 %}
            - la limite d'utilisation de la base de données de <strong>{{ current_database_usage - 100 }}%</strong><br>
            {% endif %}
            <br>
            Pour continuer à utiliser votre site Frappe Cloud, veuillez mettre à jour le plan de votre site<br>
            <br>
            <strong>Besoin d'aide ?</strong><br>
            1. Comment changer de plan ? Veuillez consulter la <a
                href="https://docs.frappe.io/cloud/how-to-change-a-site-plan"
                target="_blank"><b>documentation</b></a><br>
            2. Si vous voulez savoir quelle table de base de données consomme le plus d'espace, vous pouvez le vérifier avec l'<a
                href="https://docs.frappe.io/cloud/database-analyzer" _target="blank"><b>Analyseur de base de données</b></a><br>
            4. Si vous avez besoin d'un guide sur les tables pouvant être tronquées pour réduire le stockage de la base de données, veuillez consulter la <a
                href="https://docs.frappe.io/cloud/faq/site#clearing-logs"><b>documentation</b></a><br>
            3. Si vous avez des doutes ou besoin d'aide, veuillez contacter le support à <a href="https://frappecloud.com/support"
                target="_blank"><b>Support Frappe Cloud</b></a><br>
            <br>
            Si aucune action n'est entreprise, votre site sera suspendu dans {{ no_of_days_left_to_suspend }} jours.
        </p>

        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}