{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p class="mb-4 font-bold">
            {{ subject }}
        </p>
        <p class="mb-6">
            Malheureusement, nous devons porter à votre attention que votre site hébergé sur Frappe Cloud a été temporairement <strong>suspendu</strong> en raison d'un <strong>dépassement d'utilisation du disque / de la base de données</strong> pendant 7 jours consécutifs.<br>
            <br>
            Pour continuer à utiliser votre site Frappe Cloud, veuillez mettre à jour le plan de votre site<br>
            <br>
            <strong>Une fois que vous aurez mis à jour vers un nouveau plan, votre site sera activé immédiatement.</strong><br>
            <br>
            Si aucune action n'est entreprise, votre site sera archivé après 3 semaines.
        </p>

        {{ utils.separator() }}
		{{ utils.signature() }}
    </div>
</td>

{% endblock %}
