{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p class="mb-6">
	    <p>Greetings from Frappe!</p>
	    Hope this email finds you well. Your account is currently {{ days_overdue }} overdue, and your suspended sites are scheduled for archival on {{ archival_date }}. To prevent this, please settle the outstanding amount within the next {{ days_before_archival }}.
	    <br><br>
		We do not keep backups of your sites on <strong>{{ '$10' if currency == 'USD' else '₹820' }}</strong> plan, and once the sites are archived the data is deleted and they cannot be restored.
	    <br><br>
	    In order to activate your account and ignore data loss on archival you can add prepaid credits to your account or settle the payment via card. Login to <a href="/dashboard/billing" style="text-decoration: underline;">Frappe Cloud Dashboard</a> for more details.
	    For more payment options, you can refer to <a href="/payment-options" style="text-decoration: underline;">this link</a>.
            <br>
            We're sad to see you discontinue usage of Frappe Cloud and value your feedback. Please fill this <a href="frappecloud.com/frappe-cloud-feedback-form">form</a> or <a href="https://calendly.com/neha-frappe/frappe-user-interviews">block 15-min</a> with our team to share your experience.
            If you have any concerns or questions, contact our support team at support.frappe.io.
	    <br><br>
	    Thank you for your prompt attention.
        </p>

        {{ utils.separator() }}
		{{ utils.signature() }}
    </div>
</td>

{% endblock %}
