{% extends "templates/emails/base.html" %}
{% import "templates/emails/macros.html" as utils %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white">
        <p class="mb-4 font-bold">
            Confirmation de transfert de {{ type }}
        </p>
        <p class="mb-6">
            L'équipe {{ old_team }} a demandé le transfert du {{ type }} <b>{{ name }}</b> vers votre équipe
            {{new_team}}. Cliquez sur le bouton ci-dessous pour donner votre consentement pour ce transfert. Veuillez noter qu'en donnant
            votre consentement, les changements suivants auront lieu :
            <br>
            <br>
            1. Le {{ type }} <b>{{ name }}</b> sous {{ old_team }} sera transféré à votre équipe
            <br>
            {% if type == 'site' %}
            2. Vous serez facturé pour ce site sous l'équipe {{ new_team }}
            <br>
            {% endif %}
            <br>
            Si vous n'êtes pas au courant de cette demande, ignorez cet e-mail de confirmation.
            <br>
            <!-- Note: Le lien temporaire expirera dans {{ minutes }} minutes. -->
        </p>
        {{ utils.button('Accepter le transfert', transfer_url, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}