{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p class="mb-4 font-bold">
            {{ subject }}
        </p>
        <p class="mb-6">
	    <p>Greetings from Frappe!</p>
	    Hope this email finds you well. Your account is currently {{ days_overdue }} overdue, and your sites are scheduled for suspension on {{ suspension_date }}. To prevent this, please settle the outstanding amount within the next {{ days_before_suspension }}.
	    <br><br>
	    You can add prepaid credits to your account or settle the payment via card. Login to <a href="/dashboard/billing" style="text-decoration: underline;">Frappe Cloud Dashboard</a> for more details.
	    For more payment options, you can refer to <a href="/payment-options" style="text-decoration: underline;">this link</a>.
	    <br><br>
	    Thank you for your prompt attention.
        </p>

        {{ utils.separator() }}
		{{ utils.signature() }}
    </div>
</td>

{% endblock %}
