{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set title = title %}
{% set image_path = image_path %}
{% set read_pixel_path = read_pixel_path %}
{% set otp = otp %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><strong>Vous y êtes presque !</strong></p>
        <p>Plus qu'une dernière étape rapide pour commencer avec Frappe Cloud !</p>
        {% if otp %}
        <p class="font-medium">Code de vérification</p>
        <div class="text-xl font-bold">{{ otp }}</div>
        <p>Ou cliquez sur le bouton pour vérifier votre compte</p>
        {% else %}
        <p>Cliquez sur le bouton pour vérifier votre compte</p>
        {% endif %}
        {{ utils.button('Vérifier le compte', link, true) }}
        {{ utils.separator() }}
        <p class="my-0">L'équipe Frappe</p>
    </div>
    {% if read_pixel_path %}
    <img src="{{ read_pixel_path }}">
    {% endif %}
</td>

{% endblock %}
