{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set image_path = image_path %}
{% set otp = otp %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Bonjour,</p>
        <p>Vous avez demandé un code de vérification pour vous connecter à votre/vos site(s) sur Frappe Cloud.</p>
        <p class="font-medium">Code de vérification</p>
        <div class="text-xl font-bold">{{ otp }}</div>
        <p>Si vous n'avez pas fait cette demande, veuillez ignorer cet e-mail.</p>
        {{ utils.separator() }}
        <p class="my-0">L'équipe Frappe</p>
    </div>
</td>

{% endblock %}