{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set title = title %}
{% set image_path = image_path %}
{% set read_pixel_path = read_pixel_path %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Hello,</p>
        <strong>
          Thanks for signing up on {{ title }}!
        </strong>
        <p>
            Please confirm your email address by clicking the button below:
        </p>
        {{ utils.button('Verify Account', link, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
    <img src="{{ read_pixel_path }}" class="CToWUd" data-bit="iit">
</td>

{% endblock %}
