{% extends "templates/emails/base.html" %}

{% block content %}
<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
        <p class="mb-4 font-bold">
            La mise à jour automatique de version a échoué. Veuillez résoudre le problème et réessayer.
        </p>
        {% if bench_deploy_failure %}
            <p class="mb-4">
                Cette mise à jour de version nécessite la création d'un nouveau bench, et cette étape a échoué.
                Veuillez résoudre le problème de déploiement du bench et réessayer, ou contactez le support si nécessaire.
            </p>
        {% endif %}
        <div class="mb-6">
           <p> Site: <b>{{ site }} </b></p>
           <p>Traceback: <pre> {{ traceback }} </pre></p>
           <p> Output: <pre> {{ output }} </pre></p>
        </div>
    </div>
</td>
{% endblock %}