Port 2200
ListenAddress 0.0.0.0
PidFile /home/frappe/frappe-bench/config/ssh/sshd.pid


# Logging
LogLevel VERBOSE

# Authentication
PubkeyAuthentication yes

PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no

AuthenticationMethods publickey

ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
HostbasedAuthentication no
KbdInteractiveAuthentication no

UsePAM no

# Certificate
AuthorizedKeysFile none
TrustedUserCAKeys /home/frappe/frappe-bench/config/ssh/ca.pub
AuthorizedPrincipalsFile /home/frappe/frappe-bench/config/ssh/principals

HostKey /home/frappe/frappe-bench/config/ssh/ssh_host_rsa_key
HostCertificate /home/frappe/frappe-bench/config/ssh/ssh_host_rsa_key-cert.pub 

# Rate Limit
MaxStartups 10:30:100

# Capability Limits
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
X11UseLocalhost yes
PermitTunnel no

AllowStreamLocalForwarding no
PermitUserRC no
PermitListen none
PermitOpen none
PrintMotd no
PermitUserEnvironment no

# For interactive terminal
PermitTTY yes

