apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://127.0.0.1:9090/prometheus
    isDefault: true
    jsonData:
      httpMethod: "POST"
    editable: false
    version: 1
