apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://127.0.0.1:9090/prometheus
    isDefault: true
    jsonData:
      httpMethod: 'POST'
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.27.1
      cacheLevel: 'High'
      disableRecordingRules: false
      incrementalQueryOverlapWindow: 10m
      exemplarTraceIdDestinations:
    editable: true
    version: 1
