---
const baseurl = import.meta.env.BASE_URL;
---

<header>
  <div class='border-b border-surface-gray-2'>
  <nav class='max-w-3xl flex mx-auto py-4 gap-3 items-center border-b border-gray-200'>
			<a href={baseurl + '/'} class='flex items-center gap-2'>
        <img src={baseurl + '/logo.svg'} alt="logo" class="size-6" />
        Releases
			</a>
	</nav>
  </div>
</header>
