---
const baseurl = import.meta.env.BASE_URL
---

<header>
  <nav class='flex p-3 gap-3 items-center border-b border-gray-200'>
			<a href={baseurl + '/'} class='flex items-center gap-2'>
        <img src={baseurl + '/logo.svg'} alt="logo" class="size-6" />
        Changelog
			</a>
			<a href="https://github.com/frappe/press/releases" target="_blank" class='ml-auto'>Release Notes</a>
	</nav>
</header>
