# Each line specifies a file pattern followed by one or more owners. Owners
# will be the default reviewers for everything in the repository unless a later
# match overrides them.

# Catch all.
*                           @ssiyad

# Wildcards.
nginx.conf                  @adityahase
*server                     @adityahase
razorpay*                   @shadrak98
ssh*                        @adityahase
stripe*                     @shadrak98

# Specific files.
/press/agent.py             @balamurali27 @tanmoysrt @Aradhya-Tripathi

# Directories or sections.
backbone/                   @adityahase
bench*/                     @Aradhya-Tripathi
dashboard/                  @siduck
database_server/            @tanmoysrt
deploy*/                    @Aradhya-Tripathi
invoice/                    @shadrak98
marketplace/                @prathameshkurunkar7
partner/                    @shadrak98
playbooks/                  @adityahase @balamurali27
release_group*/             @Aradhya-Tripathi
site*/                      @tanmoysrt @balamurali27
subscription/               @shadrak98
team/                       @shadrak98
virtual_machine/            @balamurali27 @tanmoysrt @Aradhya-Tripathi
