# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @rutwikhdev
invoice/ @shadrak98
marketplace @rutwikhdev
stripe* @shadrak98
razorpay* @shadrak98

saas @rutwikhdev
