ansible==2.10.7
beautifulsoup4
Click
coverage
dnspython==1.16.0
docker==6.1.2
dockerfile==3.1.0
oci==2.116.0
paramiko==3.3.1
pexpect==4.8.0
posthog==3.0.1
prometheus-client==0.19.0
PyGithub==1.44.1
pyOpenSSL~=23.2.0
python-telegram-bot==13.15
razorpay~=1.2.0
responses==0.23.1
selenium
semantic-version==2.10.0
sql_metadata==2.10.0
stripe~=2.56.0
tldextract==3.4.4
tomli==2.0.1
tqdm==4.65.0
twilio==8.10.3
elasticsearch-dsl>=8.0.0,<9.0.0
