{%- extends "templates/base.html" -%}

{%- block head -%}
<link rel="stylesheet" href="/assets/press/css/marketplace-next.css" />
<link rel="shortcut icon" href="/assets/press/dashboard/favicon.png" type="image/x-icon">
{%- endblock -%}

{%- block title -%} {%- endblock -%}
{% if not self.title() %}
	<title>Frappe Cloud Marketplace</title>
{% endif %}

{%- block navbar -%}
{% include "templates/marketplace/navbar.html" %}
{%- endblock -%}

{%- block content -%}
{%- endblock -%}

{%- block footer -%}
{% include "templates/marketplace/footer.html" %}
{%- endblock -%}

{%- block script -%}
{{ super() }}

<script src="/assets/press/js/feather.min.js"></script>
<script>
	feather.replace();
</script>
{%- endblock -%}
