<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% include "templates/includes/meta_block.html" %}
		<title>Frappe Cloud Marketplace</title>
		<link rel="stylesheet" href="/assets/press/css/marketplace.css" />
		<link rel="shortcut icon" href="/assets/press/dashboard/favicon.png" type="image/x-icon">
		{{ head_html or "" }}
	</head>

	<body class="antialiased">
		{% include "templates/marketplace/navbar.html" %}
		<div class="container mx-auto">
			{%- block body -%} {%- endblock -%}
		</div>
		{% include "templates/marketplace/footer.html" %}
	</body>

	<script src="/assets/press/js/feather.min.js"></script>
	<script>
		feather.replace();
	</script>
	{{ include_script('marketplace.bundle.js') }}
</html>
