<footer class="py-12 min-h-[140px] border-t-[1px] border-[#E2E6E9]">
    <div class="px-5 mx-auto w-full sm:px-0 sm:max-w-[540px] md:max-w-4xl lg:px-6 lg:max-w-[1090px] xl:max-w-[1290px] xl:px-6">
        <div>
            <!-- TODO: Make src relative -->
            <img alt="Footer Logo" class="min-w-[5rem] h-6 object-contain object-left"
                src="https://frappecloud.com/files/frappe-logo-type.png">
        </div>

        <div class="mb-8"></div>

        <!-- Links -->
        <div class="flex flex-wrap sm:grid sm:grid-cols-2 sm:justify-between pt-3 pb-4">
            <div class="footer-col-left">
                <a class="mr-4 text-lg text-[#4C5A67] leading-8 font-medium" href="https://frappe.io"
                    rel="noreferrer">Frappe</a>
                <a class="mr-4 text-lg text-[#4C5A67] leading-8 font-medium" href="https://erpnext.com"
                    rel="noreferrer">ERPNext</a>
                <a class="mr-4 text-lg text-[#4C5A67] leading-8 font-medium" href="https://frappe.school"
                    rel="noreferrer">Frappe
                    School</a>
                <a class="mr-4 text-lg text-[#4C5A67] leading-8 font-medium" href="https://frappe.io/team/frappecloud"
                    rel="noreferrer">Team</a>
                <a class="mr-4 text-lg text-[#4C5A67] leading-8 font-medium" href="mailto:support@frappecloud.com"
                    rel="noreferrer">Contact</a>
                <a class="mr-4 text-lg text-[#4C5A67] leading-8 font-medium" href="/about" rel="noreferrer">About</a>
            </div>

            <div class="footer-col-right">
                <a class="mr-4 text-lg text-[#4C5A67] leading-8 font-medium" href="/support-open-source"
                    rel="noreferrer">❤️&nbsp;&nbsp;Support Open
                    Source</a>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 text-[#74808B] text-lg">
            <div class="pt-3 pb-4 leading-8 text-left">
                <a href="mailto:support@frappecloud.com">support@frappecloud.com</a>
            </div>
            <div class="pt-3 pb-4 leading-8 text-right mr-4">
                <p>Built on Frappe</p>
            </div>
        </div>
    </div>
</footer>