{% macro button(label, link, kind='default') %}
{%- set color_classes = resolve_class({
    'text-white bg-gradient-blue hover:bg-gradient-none hover:bg-blue-500 focus:shadow-outline-blue': kind == 'primary',
    'bg-gray-50 hover:bg-gray-100 text-gray-900 focus:shadow-outline-gray': kind == 'default',
})-%}
<a class="inline-flex items-center justify-center px-4 py-2 text-base leading-5 rounded-md focus:outline-none {{ color_classes }}"
	href="{{ link }}">{{ label }}</a>
{% endmacro %}

{% macro link(label, url, class) %}
<a class="text-gray-800 hover:text-blue-500 {{ resolve_class(class) }}" href="{{ url | abs_url }}">{{ label }}</a>
{% endmacro %}

{% macro breadcrumbs(items) %}
<nav class="flex items-center text-sm font-medium leading-5">
	{%- for item in items -%}
	<a href="{{ item.url }}"
		class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-700 focus:outline-none focus:underline">
		{{ item.label }}
	</a>
	{%- if not loop.last -%}
	<svg class="flex-shrink-0 w-5 h-5 mx-2 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
		<path fill-rule="evenodd"
			d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
			clip-rule="evenodd"></path>
	</svg>
	{%- endif -%}
	{%- endfor -%}
</nav>
{% endmacro %}
