<div class="navbar navbar-light navbar-expand-lg border-b sticky z-30 top-0 bg-white">
	<div class="container mx-auto">
		<div class="flex items-center justify-between h-10 md:h-12 px-4 sm:px-8">
			<div class="flex items-center justify-between w-full">
				<div class="flex-shrink-0">
					<a href="/" class="navbar-brand router-link-exact-active router-link-active" aria-current="page">
						<img src="/assets/press/images/frappe-cloud-logo.png" alt="Frappe Cloud Logo" style="height: 24px;">
					</a>
				</div>
				<div>
					<div class="flex items-baseline ml-10 space-x-4">
						<a href="/dashboard"
							class="px-3 py-2 text-base text-gray-700 rounded-md font-medium focus:outline-none hover:text-blue-500">
							Dashboard →
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
