<div class="border-b">
	<div class="container z-10 mx-auto bg-white">
		<div class="flex items-center justify-between px-4 h-16 sm:px-8">
			<div class="flex items-center justify-between w-full">
				<div class="flex-shrink-0">
					<a href="/" class="router-link-exact-active router-link-active" aria-current="page">
						{% include "templates/marketplace/logo.html" %}
					</a>
				</div>
				<div>
					<div class="flex items-baseline ml-10 space-x-4">
						<a href="/dashboard"
							class="px-3 py-2 text-base text-gray-700 rounded-md font- focus:outline-none hover:text-blue-500">
							Dashboard →
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>