/* purgecss start ignore */
@tailwind base;
@tailwind components;

.from-markdown {
	color: theme('colors.gray.700');
	line-height: 1.625;

	> * + * {
		margin-top: 1rem;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	ul,
	ol {
		padding-left: 2.5rem !important;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style: decimal;
	}

	li > * + * {
		margin-top: 1rem !important;
	}

	> ul > * + *,
	> ol > * + * {
		margin-top: 1rem !important;
	}

	b,
	strong {
		color: theme('colors.gray.800') !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: theme('colors.gray.900') !important;
		font-weight: theme('fontWeight.semibold') !important;
	}

	h1 {
		font-size: theme('fontSize.xl') !important;
	}

	h2 {
		font-size: theme('fontSize.lg') !important;
	}

	h3 {
		font-size: theme('fontSize.base') !important;
	}

	h4 {
		font-size: theme('fontSize.sm') !important;
	}

	a {
		@apply text-gray-800 underline;
	}
}

.button {
	@apply bg-gray-200 rounded-lg;
}

.button-primary {
	@apply bg-gray-900 rounded-lg;
}

.button a {
	@apply block px-2 py-1 text-base leading-normal text-gray-900 no-underline bg-gray-200 rounded-lg;
}

.button-primary a {
	@apply text-white bg-gray-900 rounded-lg;
}

/* purgecss end ignore */

@tailwind utilities;
