---
- name: Install iptables
  package:
    name: iptables
    state: present

- name: Install iptables-persistent
  package:
    name: iptables-persistent
    state: present

- name: Ensure netfilter-persistent service is enabled
  service:
    name: netfilter-persistent
    enabled: yes
    state: started

- name: Enable IP forwarding
  shell: |
    echo "net.ipv4.ip_forward = 1" | tee -a /etc/sysctl.conf
    sysctl -p

- name: Get network interface
  shell: ip route show default | awk '{for(i=1;i<=NF;i++) if ($i=="dev") print $(i+1)}'
  register: network_interface

- name: Set up NAT with iptables
  shell: |
    iptables -t nat -A POSTROUTING -o {{ network_interface.stdout }} -j MASQUERADE
    iptables -F FORWARD
    netfilter-persistent save
