# Logging
SyslogFacility AUTH
LogLevel VERBOSE

# Authentication:
PermitRootLogin no
StrictModes yes

AuthenticationMethods publickey
PubkeyAuthentication yes

PermitEmptyPasswords no
PasswordAuthentication no

ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no

UsePAM no

AuthorizedKeysFile none
TrustedUserCAKeys /etc/ssh/ca.pub
AuthorizedPrincipalsFile /etc/ssh/principals/%u

HostKey /etc/ssh/ssh_host_rsa_key
HostCertificate /etc/ssh/ssh_host_rsa_key-cert.pub 

