# Logging
SyslogFacility AUTH
LogLevel VERBOSE

# Authentication:
PermitRootLogin no
StrictModes yes

AuthenticationMethods publickey
PubkeyAuthentication yes

PermitEmptyPasswords no
PasswordAuthentication no

ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
HostbasedAuthentication no
KbdInteractiveAuthentication no

UsePAM no

AuthorizedKeysFile none
TrustedUserCAKeys /etc/ssh/ca.pub
AuthorizedPrincipalsFile /etc/ssh/principals/%u

HostKey /etc/ssh/ssh_host_rsa_key
HostCertificate /etc/ssh/ssh_host_rsa_key-cert.pub 

# UsePrivilegeSeparation sandbox

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
X11UseLocalhost no

PermitTTY yes

PrintMotd no
PermitUserEnvironment no
PermitTunnel no

MaxAuthTries 3
LoginGraceTime 20
MaxStartups 10:30:100

