## block hosts trying to abuse our server as a forward proxy
## findtime - 5mins & bantime - 5mins
[nginx-proxy]
enabled = true
filter = nginx-proxy
logpath = {{ fail2ban_nginx_access_log }}
action = iptables-multiport[name=NoNginxProxy, port="http,https"]
maxretry = 3
bantime  = 300
findtime = 300
ignoreip = {{ monitor_server_ips }}
