---
- name: Remove shared directory or symlink
  become: yes
  file:
    path: "{{ shared_directory }}"
    state: absent

- name: Unmount shared volume if mounted
  become: yes
  mount:
    path: "{{ shared_directory }}"
    state: unmounted
  failed_when: false
  changed_when: false

- name: Remove shared volume from fstab
  become: yes
  mount:
    path: "{{ shared_directory }}"
    state: absent
  failed_when: false
  changed_when: false
