---
- name: Ensure logrotate configuration for monitor.json.log
  copy:
    dest: /etc/logrotate.d/monitor_json_logs
    content: |
      /home/frappe/benches/*/logs/monitor.json.log {
          size 200M
          daily
          rotate 2
          compress
          delaycompress
          missingok
          notifempty
          copytruncate
      }
- name: Force logrotate to apply new configuration
  command: logrotate -f /etc/logrotate.d/monitor_json_logs