---
- name: Setup Server
  hosts: all
  become: yes
  become_user: root
  gather_facts: yes
  roles:
    - role: essentials
    - role: user
    - role: nat
    - role: node_exporter
    - role: clamav
