---
- name: Setup ca public key to verify signed certificates
  block:
    # Use curl instead of get_url to avoid Python 3.12 HTTPSConnection issues
    - name: Setup certificate-authority key file
      shell: curl -sL -o /etc/ssh/ca.pub https://frappecloud.com/files/ca.pub
      args:
        creates: /etc/ssh/ca.pub

    - name: Set key file permissions to 0644
      file:
        path: /etc/ssh/ca.pub
        owner: root
        group: root
        mode: 0644

- name: Setup authorized principals for certificate authority
  block:
    - name: Create auth_principals directory
      file:
        path: /etc/ssh/auth_principals
        owner: root
        group: root
        state: directory

    - name: Set authorized principals for frappe
      copy:
        dest: /etc/ssh/auth_principals/frappe
        content: |
          all-servers
          {{ server | default(inventory_hostname) }}


    - name: Add certificate authority key location to sshd_config
      lineinfile:
        state: present
        path: /etc/ssh/sshd_config
        backup: yes
        line: "{{ item }}"
        insertafter: EOF
      with_items:
        - "TrustedUserCAKeys /etc/ssh/ca.pub"
        - "AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u"

# Use distribution-aware service name (ssh on Ubuntu 24.04+, sshd on older)
- name: Restart sshd service
  service:
    name: "{{ 'ssh' if (ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('24.04', '>=')) else 'sshd' }}"
    state: reloaded
