---
- name: Update APT Cache
  apt:
    update_cache: yes

- name: Check if systemd-timesyncd exists
  stat:
    path: /usr/lib/systemd/systemd-timesyncd
  register: timesyncd_exists

- name: Install Essential Packages
  apt:
    state: present
    pkg:
      - build-essential
      - git
      - htop
      - libcrypto++-dev
      - libssl-dev
      - python3-dev
      - python3-pip
      - virtualenv
      - redis-server
      - screen
      - supervisor
      - vim
      - acl
      - zlib1g-dev

- name: Install ntp only if systemd-timesyncd doesn't exist
  apt:
    name: ntp
    state: present
  when: not timesyncd_exists.stat.exists
