{%- extends "templates/base.html" -%}

{%- block navbar -%}
<nav class="bg-transparent navbar navbar-light justify-content-center border-bottom-0">
	<div class="text-center mt-8">
		<img class="mb-2" src="{{ image_path }}" alt="Logo" style="height: 22px;">
		<p class="text-sm">Welcome to {{ app_title }}</p>
	</div>
</nav>
{%- endblock -%}

{%- block footer -%}
{%- endblock -%}

{%- block content -%}
{%- endblock -%}

{%- block script -%}
{{ super() }}
{%- endblock -%}

{%- block style -%}
<style>
	body {
		background-color: #F3F5F8;
	}

	h1 {
		font-size: var(--font-size-xl);
		font-weight: 400;
		text-align: center;
	}

	p {
		font-size: 13px;
		margin-bottom: 4px;
	}

	.form-step {
		display: none;
	}

	.card {
		width: 80%;
		box-shadow: 0px 1px 42px rgba(97, 97, 97, 0.07), 0px 1px 4px rgba(255, 255, 255, 1);
		border-radius: 10px;
		border-color: transparent;
		padding: 30px 50px 30px 50px;
			height: fit-content;
	}

	.card-body {
			padding: 0px;
	}

	.step {
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbbbbb;
		border-radius: 50%;
		display: inline-block;
		opacity: 0.5;
	}

	/* Mark the active step: */
	.step-active {
		opacity: 1;
		border: 2px solid rgb(147 197 253);
	}

	/* Mark the steps that are finished and valid: */
	.step-finish {
		background-color: #0289FF;
	}

	@media (max-width: 576px) {
		h1 {
			margin-top: 0.5em;
			margin-bottom: 1em;
		}

		.form-container {
			padding: 0;
		}

		.card {
			border-radius: 0;
			padding: 0;
		}
	}
</style>
{%- endblock -%}

