{%- extends "templates/saas/layout.html" -%}
{% set app_title = app_title %}
{% set image_path = image_path %}

{%- block content -%}
<input id="app" type="text" value="{{ app }}" hidden/>
<input id="domain" type="text" value="{{ domain }}" hidden/>

<div style="text-align: center;" class="mb-4">
		<span id="step-1" class="step step-active"></span>
  <span id="step-2" class="step"></span>
</div>

<div class="flex justify-center mx-auto form-container col-xl-5 col-lg-6 col-md-7 col-sm-9" id="user-signup"
	data-validators="field_validators">
	<div class="card bg-gray-200">
		<div class="card-body">
			<div class="alert alert-primary form-alert-info small" style="display: none;" role="alert"></div>
			<div class="alert alert-danger form-alert-error small" style="display: none;" role="alert"></div>
			<!-- 1. Personal Details -->
			<form class="form-step" data-step="1" data-action="save_partial_form_data">
				<div class="form-row">
					<div class="form-group col-12 col-md-6">
						<p>First Name</p>
						<input type="text" id="first_name" name="first_name" class="form-control"
							autocomplete="given-name">
					</div>
					<div class="form-group col-12 col-md-6">
						<p>Last Name</p>
						<input type="text" id="last_name" name="last_name" class="form-control"
							autocomplete="family-name">
					</div>
				</div>
				<div class="form-group">
					<p>Email Address</p>
					<input type="email" id="email" class="form-control" name="email" autocomplete="email">
				</div>
				<div class="form-group">
					<p>Password</p>
					<input type="password" id="password" class="form-control" name="password" onkeyup="validate_password(this)">
					<div class="mt-4 flex">
						<input id="showPassword" type="checkbox" onclick="togglePasswordVisibility()">
						<p>Show Password</p>
					</div>
				</div>

				<div class="mt-2 d-flex justify-content-between">
					<div></div>
					<button type="submit" class="btn btn-primary btn-step-1">Next</button>
				</div>
			</form>

			<form class="form-step" data-step="2" data-action="submit_account_request">
		<div class="form-group">
					<p>Site Name</p>
					<div class="input-group">
						<input type="text" id="subdomain" name="subdomain" class="form-control"
							placeholder="yourcompany" autocomplete="off" onchange="validate_subdomain(this)">
						<div class="input-group-append">
							<p class="px-2 py-0 text-xs input-group-text rounded-right">.{{ domain }}</p>
						</div>
					</div>
					<small class="form-text"></small>
				</div>
				<div class="form-group">
					<p for="phone">Phone Number</p>
					<input type="tel" id="phone" class="form-control" name="phone_number" autocomplete="tel">
				</div>
				<div class="form-group">
					<p for="country">Country</p>
					<select id="country" class="custom-select" name="country">
						<option disabled selected>Select Country</option>
						{%- for country in frappe.db.get_all('Country') -%}
						<option>
							{{ country.name }}
						</option>
						{%- endfor -%}
					</select>
				</div>
				<div class="form-group">
					<input type="checkbox" name="user_accept_terms" id="user_accept_terms">
					<p class="d-inline" for="user_accept_terms">
						By clicking on <b>Create Account</b>, you accept our
						<a href="https://frappecloud.com/terms" class="text-blue-600">Terms of Service</a>,
						<a href="https://frappecloud.com/privacy" class="text-blue-600">Privacy Policy</a>
						&#38;
						<a href="https://frappecloud.com/cookie-policy" class="text-blue-600">Cookie Policy.</a>
					</p>
				</div>
				<div class="form-message text-danger"></div>
				<div class="mt-8 d-flex justify-content-between">
					<div></div>
					<button id="accountRequestButton" type="submit" class="btn btn-primary btn-step-1">Create Account</button>
				</div>
			</form>
			<!-- 2. Verification Email Sent -->
			<form class="form-step" data-step="3">
				<div class="text-center">
					<h2 class="font-size-base mt-0">Verification Email Sent!</h2>
					<p>
					We have sent an email to <span class="verification-email"></span>.
					Please click on the link received to verify your email and create your account.
					</p>
				</div>
			</form>
		</div>
	</div>
</div>
{%- endblock -%}

{%- block script -%}
<script src="/assets/press/js/form_controller.js"></script>
<script>
	const app = document.getElementById('app').value;
	const domain = document.getElementById('domain').value;
	let controller;

	frappe.ready(() => {
		controller = new FormController("user-signup");

		// get subdomain is set in url and show first form
		set_subdomain_from_url();
	});

	function save_partial_form_data($form, values) {
    form_data = values
		nextStep(1)
    return values
	}
	// this needs to be on global scope
	var field_validators = {
		subdomain: (value) => {
			let MIN_LENGTH = 4;
			let MAX_LENGTH = 20;
			if (value.length < MIN_LENGTH) {
				return `Site name cannot have less than ${MIN_LENGTH} characters`;
			}
			if (value.length > MAX_LENGTH) {
				return `Site name cannot have more than ${MAX_LENGTH} characters`;
			}
			if (!/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(value)) {
				return "Site name should contain lowercase alphabets, numbers, and hyphens";
			}
		},
		first_name: value => {
			if (!value) {
				return 'First Name is required'
			}
		},
		last_name: value => {
			if (!value) {
				return 'Last Name is required'
			}
		},
		phone_number: (value) => {
			if (!value) {
				return 'Phone Number is required'
			}

			let regExp = /[a-zA-Z]/g;
			if (regExp.test(value)) {
				return "Phone number cannot contain alphabets";
			}
		},
		email: (value) => {
			if (!valid_email(value)) {
				return "Invalid email";
			}
		},
		password: (value) => {
			if (!value) {
				return "Password is required"
			} else {
				let password = value;
				var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;

				if (password.match(pattern) && password.length >= 8) {
					return false
				} else {
					return "Bad Password! The password length should be atleast 8 characters and it should contain a combination of capital letters, small letters, numbers and symbols";
				}
			}
		},
		country: (value) => {
			if (!value) {
				return "Please enter your country name";
			}
		},
		user_accept_terms: (value) => {
			if (!value) {
				return "You need to accept our Terms of Service & Privary Policy"
			}
		}
	};

	function submit_account_request($form, values) {
		document.getElementById("accountRequestButton").disabled = true;
    document.getElementById("accountRequestButton").innerHTML = '<span class="mr-2">Signing up</span><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
		let url_args = frappe.utils.get_query_params();
		if (Object.keys(url_args)) {
			values.url_args = url_args;
		}
		values.app = app;
    if (values) {
	    form_data = {...form_data, ...values, app}
    }

		nextStep(2)

		return call('press.api.saas.account_request', form_data)
			.then(() => {
				$('h1').hide();
				$('.verification-email').text(form_data.email);
			});
	}

	function set_subdomain_from_url() {
		let query_params = frappe.utils.get_query_params();
		if (query_params.domain) {
			let subdomain = query_params.domain.replace(`.${domain}`, "");
			$('input[name="subdomain"]').val(subdomain).trigger("change");
		}
	}

	function call(method, args) {
		return frappe
			.call({
				method,
				args,
				type: "POST",
			})
			.then((r) => {
				if (r.exc) {
					console.error("An error occurred", r.exc);
					return;
				}
				return r;
			});
	}

	function validate_password(input) {
		let $input = $(input);
		let password = $input.val();
		let error = controller.validate_value("password", password);

		if (error) {
			controller.show_input_error("password", error);
		} else {
			frappe.call({
				method: "press.api.saas.validate_password",
				args: { 
					password: password,
					first_name: document.querySelector("#first_name").value,
					last_name: document.querySelector("#last_name").value,
					email: document.querySelector("#email").value,
				},
				type: "POST",
			}).then((r) => {
				controller.show_input_feedback("password", r.message ? "Strong Password!" : "The password is very to guess please use a strong password!", !r.message)
			})
		}
	}

	function validate_subdomain(input) {
		let $input = $(input);
		let subdomain = $input.val();
		let error = controller.validate_value("subdomain", subdomain);
		if (error) {
			controller.show_input_error("subdomain", error);
		} else {
			check_if_available(subdomain).then((available) => {
				controller.show_input_feedback(
					"subdomain",
					!available ? `${subdomain}.${domain} is already taken` : `${subdomain}.${domain} is available`,
					!available
				);
			});
		}
	}

	function check_if_available(subdomain) {
		return frappe
			.call({
				method: "press.api.saas.check_subdomain_availability",
				args: { subdomain, app: app },
				type: "POST",
			})
			.then((r) => {
				if (r.message) {
					return true;
				}
				return false;
			});
	}

	function togglePasswordVisibility() {
		var inp = document.getElementById("password");
		if (inp.type === "password") {
			inp.type = "text";
		} else {
			inp.type = "password";
		}
	}

	function nextStep(step) {
		let prevElement = document.getElementById(`step-${step}`)
		prevElement.classList.add("step-finish")

		if (step < document.getElementsByClassName("step").length) {
			let nextElement = document.getElementById(`step-${step + 1}`)
			nextElement.classList.add("step-active")
		}	
	}
</script>
{%- endblock -%}
