---
- name: Update APT Cache
  apt:
    update_cache: yes
  ignore_errors: yes

- name: Install Filebeat Dependencies
  apt:
    state: present
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
  register: result
  until: result.failed == false
  retries: 5
  delay: 120

- name: Check if Elasticsearch GPG Key Exists
  stat:
    path: /usr/share/keyrings/elasticsearch.gpg
  register: elasticsearch_gpg_key

- name: Add Elasticsearch Repository Key (Modern)
  shell: curl -fsSL https://artifacts.elastic.co/GPG-KEY-elasticsearch | gpg --dearmor -o /usr/share/keyrings/elasticsearch.gpg
  when: not elasticsearch_gpg_key.stat.exists

- name: Add Elasticsearch Repository (Modern)
  copy:
    content: "deb [signed-by=/usr/share/keyrings/elasticsearch.gpg] https://artifacts.elastic.co/packages/7.x/apt stable main"
    dest: /etc/apt/sources.list.d/elastic-7.x.list
  register: elastic_repo

- name: Update APT Cache for Elasticsearch
  apt:
    update_cache: yes
  when: elastic_repo.changed
  ignore_errors: yes

- name: Remove new Elasticsearch Repository
  apt_repository:
    repo: deb https://artifacts.elastic.co/packages/8.x/apt stable main
    state: absent
    update_cache: true

- name: Uninstall newer version of Filebeat
  apt:
    name: filebeat
    state: absent
  register: result
  until: result.failed == false
  retries: 5
  delay: 120

- name: Install Filebeat
  apt:
    name: filebeat
    state: latest
  register: result
  until: result.failed == false
  retries: 5
  delay: 120

- name: Setup Filebeat
  template:
    src: filebeat.yml
    dest: /etc/filebeat/filebeat.yml

- name: Create ProxySQL Module Directory
  file:
    path: /usr/share/filebeat/module/proxysql
    state: directory
    owner: root

- name: Setup ProxySQL Module
  synchronize:
    src: 'roles/filebeat/module/proxysql/'
    dest: /usr/share/filebeat/module/proxysql/
    recursive: yes
    archive: false
    use_ssh_args: yes

- name: Setup Filebeat Modules
  template:
    src: 'modules.d/{{ item }}.yml'
    dest: '/etc/filebeat/modules.d/{{ item }}.yml'
  loop:
    - 'mysql'
    - 'system'
    - 'nginx'
    - 'proxysql'

- name: Enable Filebeat Modules
  command: filebeat modules enable nginx mysql system proxysql

- name: Create Filebeat Modules Directory
  file:
    dest: /etc/filebeat/inputs.d
    state: directory

- name: Setup Filebeat Inputs
  template:
    src: 'inputs.d/{{ item }}.yml'
    dest: '/etc/filebeat/inputs.d/{{ item }}.yml'
  loop:
    - 'all'
    - 'containers'
    - 'monitor'

- name: Restart Filebeat Daemon
  systemd:
    name: filebeat
    daemon_reload: true
    enabled: yes
    state: restarted
