#/ Full # Don't scan entire server
/etc Full
#We can shortlist more directories to check here
#Some directories within the shortlisted directories will be skipped
#because of default config snippets in aide.conf.d
