<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="manifest" href="/manifest.json">

	<link href="/assets/press/css/tailwind.css" rel="stylesheet">
</head>
{% block dashboard %}{% endblock %}
<script src="/assets/js/dashboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<!-- <script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>

<script type="text/javascript" src="/website_script.js"></script> -->
<script>
	feather.replace()
</script>

</html>