<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="/assets/press/css/tailwind.css" rel="stylesheet">
</head>
{% block dashboard %}{% endblock %}
<script src="/assets/js/dashboard.min.js"></script>
<script src="/assets/press/js/feather.min.js"></script>
<script>
	feather.replace();
</script>

</html>