#cloud-config

ssh_deletekeys: true

disable_root: false

users:
- name: root
  ssh_authorized_keys:
  - {{ ssh_key }}

- name: frappe
  ssh_authorized_keys:
  - {{ ssh_key }}

runcmd:
- mkdir /etc/ssh/auth_principals
- curl https://frappecloud.com/files/ca.pub > /etc/ssh/ca.pub && chmod 644 /etc/ssh/ca.pub
- su - frappe -c "cd /home/frappe/agent && env/bin/agent setup config --name {{ server.name }} --workers 2"
- su - frappe -c "cd /home/frappe/agent && env/bin/agent setup authentication --password {{ agent_password }}"
- su - frappe -c "htpasswd -Bbc /home/frappe/agent/nginx/monitoring.htpasswd frappe {{ monitoring_password }}"
- supervisorctl restart all
{% if server.doctype == 'Database Server' and server.provider != 'Hetzner' and server.provider != 'DigitalOcean' %}
- resize2fs $(findmnt /opt/volumes/mariadb --noheadings --output SOURCE)
- systemctl daemon-reload
- systemctl restart mariadb
- systemctl restart mysqld_exporter
- systemctl restart deadlock_logger
{% elif server.doctype == 'Server' and server.provider != 'Hetzner' and server.provider != 'DigitalOcean' %}
- resize2fs $(findmnt /opt/volumes/benches --noheadings --output SOURCE)
{% endif %}
{% if server.provider == 'OCI' %}
- iptables -D INPUT -j REJECT --reject-with icmp-host-prohibited
- sed -i 's/^-A INPUT -j REJECT --reject-with icmp-host-prohibited$/#-A INPUT -j REJECT --reject-with icmp-host-prohibited/g' /etc/iptables/rules.v4
{% endif %}

{% if server.provider == 'DigitalOcean' %}
- |
    for i in {1..20}; do
      curl -sf http://169.254.169.254/metadata/v1/id && break
      sleep 1
    done

    PRIVATE_IP=$(curl -s http://169.254.169.254/metadata/v1/interfaces/private/0/ipv4/address)

    FILES="
      /etc/systemd/system/statsd_exporter.service
      /etc/filebeat/filebeat.yml
      /etc/mysql/conf.d/frappe.cnf
      /etc/systemd/system/mariadb.service.d/memory.conf
      /etc/systemd/system/mysqld_exporter.service
      /etc/systemd/system/deadlock_logger.service
      /root/.my.cnf
    "

    for f in $FILES; do
      if [ -f "$f" ]; then
        sed -i "s/__PRIVATE_IP__/${PRIVATE_IP}/g" "$f"
      fi
    done

    systemctl daemon-reload

    systemctl restart mariadb || true
    systemctl restart mysqld_exporter || true
    systemctl restart deadlock_logger || true
    systemctl restart statsd_exporter || true
{% endif %}

write_files:
- path: /etc/systemd/system/statsd_exporter.service
  permissions: "0644"
  content: |
    {{ statsd_exporter_service | indent(4) }}

- path: /etc/filebeat/filebeat.yml
  content: |
    {{ filebeat_config | indent(4) }}

- path: /etc/ssh/auth_principals/frappe
  defer: true
  content: |
    all-servers
    {{ server.name }}

- path: /etc/ssh/sshd_config
  append: true
  content: |
    TrustedUserCAKeys /etc/ssh/ca.pub
    AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u

{% if server.doctype == 'Database Server' or is_unified_server %}
- path: /etc/mysql/conf.d/frappe.cnf
  content: |
    {{ mariadb_config | indent(4) }}

- path: /etc/systemd/system/mariadb.service.d/memory.conf
  content: |
    {{ mariadb_systemd_config | indent(4) }}

- path: /etc/systemd/system/mysqld_exporter.service
  content: |
    {{ mariadb_exporter_config | indent(4) }}

- path: /root/.my.cnf
  content: |
    {{ mariadb_root_config | indent(4) }}

- path: /etc/systemd/system/deadlock_logger.service
  content: |
    {{ deadlock_logger_config | indent(4) }}
{% endif %}

swap:
  filename: /swap.default
  size: 1073741824

{% if server.doctype == 'Server' %}
packages:
 - earlyoom
{% endif %}
